.cd-header {
	font-family: 'ProximaNova', sans-serif;
	line-height: 2.5;
	font-size: 24px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding: 43px 0;
	
}
.cd-navigation {
	
	background-color: transparent;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	
	.collapse,
	.collapsing {
		
		border: none;
		box-shadow: none;
	}
	.navbar-nav{
		@media (max-width: $screen-sm){
			background-color: $brand-primary;
			z-index: 2;
		}
		
	}
	.navbar-brand{
		margin-top: -21px;
    margin-left: 33px;
	}
}
