//may vars

//end of my variables

//bootstrap variabels
$brand-primary:                  #9f9acf ; 

$btn-default-color:              #7d7a7c ;
$btn-default-bg:                 transparent ;
$btn-default-border:             #7d7a7c ;

$btn-primary-color:              #fff ;
$btn-primary-bg:                 $brand-primary ;
$btn-primary-border:             #665f60;

$btn-border-radius-base:         0px;
$btn-border-radius-large:        0px;
$btn-border-radius-small:        0px;
	
	// Navbar
$navbar-default-bg:              transparent ;
$navbar-default-border:          transparent ;

$navbar-height:                  50px ;
$navbar-border-radius:           0px ;

	// Navbar links
$navbar-default-link-color:                #fff ;
$navbar-default-link-hover-color:          #7d7a7c  ;
$navbar-default-link-hover-bg:             transparent ;
$navbar-default-link-active-color:         #fff ;
$navbar-default-link-active-bg:            #fff ;
$navbar-default-link-disabled-color:       #fff ;
$navbar-default-link-disabled-bg:          transparent ;

//end of bootstrap vars

$default-font: ProximaNova;

