<header class="cd-header text-uppercase">
	<div class="container clearfix">
		<div class="row">

			<nav class="navbar navbar-default cd-navigation">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">
		      	<img src="{{root}}assets/img/logo.png" alt="Creative Digital">
		      </a>
		    </div>

		    <div class="collapse navbar-collapse" id="primary-navigation">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Home</a></li>
		        <li><a href="#aboute">About</a></li>
		        <li><a href="#servises">Servises</a></li>
		        <li><a href="#works">Works</a></li>
		        <li><a href="#contact">Contact</a></li>
		      </ul>
		    </div>
			</nav>

		</div>
	</div>
</header>